{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Mail File Attachment</title>
	
	<style type="text/css">
		
	

	</style>
  </head>

  <body>
  
  
	<main>
	<h2> Please check your mail</h2>
	
	<form>
		  <label for="file-upload">Select a file to upload:</label>
		  <input type="file" id="file-upload" name="file-upload">
		  <button type="submit">Upload</button>
	</form>


    </main>




<script type="text/javascript">

</script>

</body>

</html>
