{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} New Sales {% endblock title %}


{% block content %}
<head>
<style>
	input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
           -webkit-appearance: none; 
           margin: 0; 
    }

	.lbl{	
		color:blue;
		font-size:25px;
	}
	.fld{	
		color:black;
		font-size:20px;
	}	
	.shared-class {
		color:black;
		font-size:22px;
	}
	tr td {
		text-align: center;
	}
	.td-center{
		text-align: center;
	}
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

    <div style="color:#575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">New Sales</div>
    
        <!-- Log on to codeastro.com for more projects -->

        <div class="panel panel-default">
            <div class="panel-heading panel-heading-text " style="font-size: 2rem;"><u>Customer Details</u></div>
            <div class="panel-body">
                    
                <div class="form-group">
                    <label for="id_name" class="panel-body-text lbl">Name:</label> 					
					<input type="text" class="form-control textinput shared-class" id="id_name" value="{{ customer.name }}" disabled>

				</div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id_phone" class="panel-body-text lbl">Phone No:</label>
                        <input type="text" class="form-control textinput shared-class" id="id_phone" value="{{ customer.phone }}" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="id_email" class="panel-body-text lbl">Email:</label>
                        <input type="text" class="form-control textinput shared-class" id="id_email" value="{{ customer.email }}" disabled>
                    </div>
                </div>
				<div class="form-group">
                    <label for="id_address" class="panel-body-text lbl">Address:</label>                    
					<textarea class="form-control textinput shared-class" id="id_address" disabled rows="3">{{ customer.address }}</textarea>
				</div>

            </div><!-- Log on to codeastro.com for more projects -->
        </div>

        <br>

        <form method="post" class="panel panel-default">
            
            {% csrf_token %}
            {{ formset.management_form }}
    
			{% block error_messages %}
					
			{% endblock error_messages %}
			
			{% if messages %}
				<div class="alert alert-danger">
					<ul>
						{% for message in messages %}
							<li>{{ message|safe }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			
                <div id="stockitem"> 
                    <div class="panel-body">
						<table>
							<thead>
								<th class="lbl" style="text-align: left;">Row</th>
								<th class="lbl" style="text-align: center;">Belt No</th>
								<th class="lbl" style="text-align: center;width:40%;">Description</th>								
								<th class="lbl" style="text-align: center;">Quantity</th>
								<th class="lbl" style="text-align: center;">Rate</th>
								<th class="lbl" style="text-align: center;">Amount</th>
							</thead>
							<tbody>
							
								{% for form in formset %}
								
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ form.stock }}</td>										
										<td>{{ form.item_text_content }}</td>                                        
										<td class="td-center">{{ form.item_qty_content }}</td>										
										<td id="perprice" class="td-center">{{ form.perprice }}</td>
										<script>
											$(document).ready(function() {
											  // Listen for the 'input' event on the input field
											  var id='{{ forloop.counter }}'-1;
											  console.log('id...',id);
											  $("#id_sales_item-"+id+"-perprice").on("input", function() {
												
												var perprice = parseFloat($(this).val());
												if (!isNaN(perprice)) {
												  // Calculate the total price (e.g., multiply by a quantity)
												  console.log("perprice Value:", perprice);
												  var quantity = $("#id_sales_item-"+id+"-item_qty_content").val(); // Replace this with the actual quantity
												  console.log("Quantity Value:", quantity);
												  var totalprice = perprice * quantity; // Define totalprice here
													console.log('id...',id);		
												  // Set the calculated total price in the totalprice input field
												  $("#id_sales_item-"+id+"-totalprice").val(totalprice);
												
												} else {
												  var perprice = 0;
												  console.log("Invalid input. Not a valid number.");
												}
												console.log("perprice Value:", perprice);
												
												
												
											  });
											});
										</script>
										<td class="td-center">{{ form.totalprice }}</td>
										
										
									
									</tr>
								 
								{% endfor %}
								
							</tbody>
						</table>
										
                    </div>
                </div>


            <br><!-- Log on to codeastro.com for more projects -->

            <div class="align-middle">
                <button type="submit" class="btn btn-success">Add to Purchases</button>
                <a href="{% url 'product:select-customer' %}" class="btn btn-danger">Go Back</a>
                <a href="{% url 'product:customers-list' %}" class="btn btn-secondary">Cancel</a>
            </div>
            
        </form>

    </div>

    <!-- Custom JS to add and remove item forms --><!-- Log on to codeastro.com for more projects -->
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dialogbox.js' %}"></script>
    <!-- Include jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script>
	
		//var itemTextContent; // Declare itemTextContent in the global scope
		
		$(document).ready(function () {
		  // Loop through each form in the SalesItemFormset
		  console.log('Document ready function is executing.');
		  
		  for (let i = 0; i < {{ formset.total_form_count }}; i++) {
			var stockField = $('#id_sales_item-' + i + '-stock');
			var itemTextContentField = $('#id_sales_item-' + i + '-item_text_content');
			var itemQtyContentField = $('#id_sales_item-' + i + '-item_qty_content');
			var itemRateField = $('#id_sales_item-' + i + '-perprice');
			var totalPriceField = $('#id_sales_item-' + i + '-totalprice');
			
			console.log('Found stockField:', stockField.attr('id'));
			console.log('Found itemTextContentField:', itemTextContentField.attr('id'));
			console.log('Found itemQtyContentField:', itemQtyContentField.attr('id'));
			console.log('Found itemRateField:', itemRateField.attr('id'));
			console.log('Found totalPriceField:', totalPriceField.attr('id'));
			
			
			
			
			// Set data attributes to store relevant information
			stockField.attr('data-text-content-field', itemTextContentField.attr('id'));
			stockField.attr('data-qty-content-field', itemQtyContentField.attr('id'));
			stockField.attr('data-perprice-field', itemRateField.attr('id'));
			stockField.attr('data-totalprice-field', totalPriceField.attr('id'));
			
			// Attach change event listener to each stock field
			var correspondingItemQtyContentFieldId = $(this).data('qty-content-field');
			var correspondingItemQtyContentField = $('#' + correspondingItemQtyContentFieldId);
				
			var correspondingItemRateFieldId = $(this).data('perprice-field');
			var correspondingItemRateField = $('#' + correspondingItemRateFieldId);
			//var itemRate = correspondingItemRateField.val();

			function updateTotalPrice() {
				var itemRate = parseFloat(correspondingItemRateField.val()) || 0; // Get the value and convert to float, default to 0 if not a number
				var quantity = parseFloat(correspondingItemQtyContentField.val()) || 0; // Get the value and convert to float, default to 0 if not a number
				var totalprice = itemRate * quantity; // Calculate totalprice

				totalPriceField.val(totalprice.toFixed(2)); // Update the totalprice field with 2 decimal places
			}
			
			itemRateField.on('change', updateTotalPrice);
			console.log('Item Rate:-l-190 :', itemRateField.val());
			
			updateTotalPrice();
			
			
			
			stockField.on('change', function () {
			  var stockInstanceId = $(this).val();
			  var selectedValue = $(this).val();
			  var correspondingItemRateFieldId = $(this).data('perprice-field');
			  var correspondingItemRateField = $('#' + correspondingItemRateFieldId);
			  var correspondingtotalPriceFieldId = $(this).data('totalprice-field');
			  var correspondingtotalPriceField = $('#' + correspondingtotalPriceFieldId);
			  
				// Debug: Log relevant information
				console.log('Debug: correspondingItemRateFieldId:', correspondingItemRateFieldId);
				console.log('Debug: correspondingItemRateField:', correspondingItemRateField);
				console.log('Debug: l-210 correspondingItemRateField.val():', correspondingItemRateField.val());
				console.log('Debug: correspondingtotalPriceField.val():', correspondingtotalPriceField.val());
				console.log('Debug: l-212 Selected value', selectedValue);
				
				//var rate = parseFloat("{{ form.perprice|default_if_none:'0' }}");
				//console.log('l-186 Per Price:', rate);
				//console.log('L-187 Stock Rate:', '{{ form.perprice }}');
				//console.log('{{ form.perprice }}');
					  
			  console.log('Selected stockInstanceId:', stockInstanceId);
			  var itemRate;
			  
			  if (stockInstanceId) {
				// Get the corresponding itemTextContentField using the data attribute
				var correspondingItemTextContentFieldId = $(this).data('text-content-field');
				var correspondingItemTextContentField = $('#' + correspondingItemTextContentFieldId);
				
				var correspondingItemQtyContentFieldId = $(this).data('qty-content-field');
				var correspondingItemQtyContentField = $('#' + correspondingItemQtyContentFieldId);
				var itemQty = correspondingItemQtyContentField.val();
				
				var correspondingItemRateFieldId = $(this).data('perprice-field');
				var correspondingItemRateField = $('#' + correspondingItemRateFieldId);
				var itemRate = parseFloat(correspondingItemRateField.val()) || 0;

				// Check if itemRate is NaN (i.e., not a valid number)
				if (isNaN(itemRate)) {
					console.log('Debug: l-237-Item Rate is not a valid number.');
				} else {
					console.log('Debug: l-237-Item Rate:', itemRate);
				}
								// Debug: Log relevant information
				console.log('Debug: correspondingItemRateFieldId:', correspondingItemRateFieldId);
				console.log('Debug: l-235 correspondingItemRateField:', correspondingItemRateField);
				console.log('Debug: l-237-Item Rate:', correspondingItemRateField.val());
				console.log('Debug: l-238-Item Qty:', itemQty);
				console.log('Data type of correspondingItemRateField.val():', typeof correspondingItemRateField.val());
				
				
				fetchStockData(stockInstanceId, correspondingItemTextContentField,correspondingItemQtyContentField);
				
				
				
			  } else {			    
				 var correspondingItemTextContentFieldId = $(this).data('text-content-field');
				 var correspondingItemTextContentField = $('#' + correspondingItemTextContentFieldId);
				 
				 var correspondingItemQtyContentFieldId = $(this).data('qty-content-field');
				 var correspondingItemQtyContentField = $('#' + correspondingItemQtyContentFieldId);

				 var correspondingItemRateFieldId = $(this).data('perprice-field');
				 var correspondingItemRateField = $('#' + correspondingItemRateFieldId);
				 var itemRate = correspondingItemRateField.val();

				 correspondingItemTextContentField.val('');
				 correspondingItemQtyContentField.val('');				 
				 correspondingItemRateField.val('');
				 
				 console.log('L-258 Stock Rate.',itemRate);
				 console.log('Stock instance ID is missing.');
			  }
			  console.log(' L-261 Item Rate:', itemRate);
			});
		  }
		});


		function fetchStockData(stockInstanceId, correspondingItemTextContentField,correspondingItemQtyContentField) {
		  
		  console.log("Inside fetchStockData function. stockInstanceId:", stockInstanceId);
		  $.ajax({
			url: `/product/get_stock_data_view/${stockInstanceId}`,
			method: 'GET',
			dataType: 'json',
			success: function (data) {
			  console.log('Response Data:', data);
			  if (data && data.item_text && data.item_qty) {
				var itemTextContent = data.item_text;
				var itemQtyContent = data.item_qty;
				
				console.log('Stock Desc Data:', itemTextContent);
                console.log('Stock Qty:', itemQtyContent);
				
				
				// Update the corresponding item_text_content field				
				correspondingItemTextContentField.val(itemTextContent);
				correspondingItemQtyContentField.val(itemQtyContent);
				
				//$('#id_sales_item-0-item_text_content').val(itemTextContent);
				// ... Other logic ...
			  } else {
                console.log('Stock data not found.');
              }
			},
			error: function (jqXHR, textStatus, errorThrown) {
			  console.error('AJAX Error:', textStatus, errorThrown);
			}
		  });
		};

	</script>
		
{% endblock content %}

