{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

<!doctype html>
<html lang="en">
	{% block content %}
	
  <head>
  
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	<script>
		jQuery(document).ready(function($) {
			$("#myModal").modal('show');
		});
	</script>
	<style>
		.modal {
		   position: absolute;		   
		   top: 10%;
		   left: 0%;
		}
		.modal-lg {
			margin-left:280px !important;
			max-width: 80% !important;
		}
		input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
           -webkit-appearance: none; 
           margin: 0; 
		}

	</style>	
  </head>

  <body>
 
  <br>
  <br>
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog modal-lg">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Insert new Stock item(TCB)</h4>
			</div>
			<div class="modal-body">


			<form method="POST">
				{% csrf_token %}
				

				<table>
				{% if not error_message %}
                            
                
					<thead>
						<tr>
							<th style="text-align: center;color:black;width:5%">Row&nbsp&nbsp</th>
							<th style="text-align: left;color:black; width:10%">Doc.No.</th>
							<th style="text-align: left;color:black; width:10%">Doc.Dt.</th>										
							<th style="text-align: left;color:black; width:35%">Description</th>
							<th style="text-align: left;color:black; width:10%">Belt No</th>
							<th style="text-align: center;color:black; width:5%">Width<br>(mm)</th>
							<th style="text-align: center;color:black; width:5%">Ply<br>(nos)</th>
							<th style="text-align: center;color:black; width:5%">T.Rub<br>(mm)</th>
							<th style="text-align: center;color:black; width:5%">B.Rub<br>(mm)</th>
							<th style="text-align: center;color:black; width:10%">Quantity<br>(m)</th>
						</tr>
					</thead>
				{% endif %}
				
					<tbody>
						<!--{{formset}}-->
						{{ formset.management_form }}
						{% for form in formset %}
						
						{% if form.errors %}
							<div class="alert alert-danger">
							<p><strong style="color:black;">Error in
								Row {{ forloop.counter }} :
								</strong>
								<span>
									{% for field_name, field_errors in form.errors.items %}
										{% for error in field_errors %}
											
												<strong style="color:blue;">{{ form|get_field_label:field_name }}-</strong><strong style="color:black;">{{ error|safe }}</strong>{% if not forloop.last %} {% endif %}
											
										{% endfor %}
									{% endfor %}
								</span>
								
								
								
							</div>
						{% endif %}
						 	<tr>
								<td style="text-align:center;">{{ forloop.counter }}</td>
								<td>{{ form.doc_no }}</td>
								<td>{{ form.doc_dt }}</td>								
								<td>{{ form.prod_des }}</td>
								<td style="text-align:left;">{{ form.belt_no }}</td>
								<td style="text-align:center;">{{ form.width }}</td>
								<td style="text-align:center;">{{ form.ply }}</td>
								<td style="text-align:right;">{{ form.tr }}</td>
								<td style="text-align:right;">{{ form.br }}</td>
								<td style="text-align:right;">{{ form.quantity }}</td>															
																
							</tr>
							{{ form.id }}
							
						{% endfor %}
					</tbody>
				</table>
				
				<br>
				{% if error_message %}
                            <div class="alert alert-danger">
                                {{ error_message|safe }}
                            </div>
                {% else %}
							<button type="submit" style="text-align:left;" class="btn btn-info">Save</button>
							<button type="button"  class="btn btn-secondary" id="closeModalBtn" data-dismiss="modal">Close</button>
				{% endif %}
			</form>
				
			</div>
		  </div>
		</div>  
</div>
<script>



			$(document).ready(function() {
			
				$('.skip-enter').keydown(function(event) {
					var td = $(this).closest('td');
					var tr = $(this).closest('tr');
					var idx = td.index();
					
					if (event.keyCode === 13) { // Enter key code is 13
						event.preventDefault();
						var inputs = $(this).find(':input');
						var currentInput = inputs.get(0);
						
						if (currentInput !== null) {
							var inputsInRow = tr.find('td').eq(idx).find(':input');
							var inputIdx = inputsInRow.index(currentInput);
							
							if (inputIdx !== -1 && inputIdx < inputsInRow.length - 1) {
								var nextInput = inputsInRow.eq(inputIdx + 1);
								nextInput.focus();
							} else {
								var nextTd = td.next();
								var nextInputs = nextTd.find(':input');
								if (nextInputs.length > 0) {
									nextInputs.eq(0).focus();
								}
							}
						}
					} else if (event.keyCode === 38) { // Up arrow key code is 38
						event.preventDefault();
						var prevTd = td.prev();
						if (prevTd.length > 0) {
							var prevInputs = prevTd.find(':input');
							if (prevInputs.length > 0) {
								var lastInput = prevInputs.last();
								lastInput.focus();
							}
						}
					} else if (event.keyCode === 40) { // Down arrow key code is 40
						event.preventDefault();
						var nextTd = td.next();
						if (nextTd.length > 0) {
							var nextInputs = nextTd.find(':input');
							if (nextInputs.length > 0) {
								var firstInput = nextInputs.eq(0);
								firstInput.focus();
							}
						}
					}
				});
			});

	var closeModalBtn = document.getElementById("closeModalBtn");

	// Add an event listener to the close button
	closeModalBtn.addEventListener("click", function() {
	  // Redirect to the previous page
	  //history.back();
	  window.location.href = "{% url 'product:stock-list'%}";
		
	});
	
	$('#myModal').modal({backdrop: 'static', keyboard: false})  
	
	
  

	
</script>



{% endblock %}
</html>



