{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
  
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	<script>
		jQuery(document).ready(function($) {
			$("#myModal").modal('show');
			
			CKEDITOR.replace('id_content', {
				width: '100%', // Set the width to 100%
				// Other configuration options...
			});
			
		});
	</script>
	<style>
		.modal {
		   position: absolute;
		   top: 10%;
		   left: 10%;
		}
		.modal-dialog {
					max-width: 1200px; /* Adjust this value to your desired width */
		}
	</style>
  </head>
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
    
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  
			  <form id="editForm" method="post">
				<h2 class="modal-title">Edit Message</h2>
				
			</div>
			<div class="modal-body">
				{% csrf_token %}
				
				{% if hide_sender %}
					{{ form.sender.as_hidden }}
					{{ form.receiver.as_hidden }}					
					{{ form.content }}
					
				{% else %}
					From : {{ form.sender }} To : {{ form.receiver }}
					<p></p>
					<p style="color:black;font-weight:bold;"><u>Message Content</u></p>
					
					{{ form.content }}
					
				
				{% endif %}
				
				<br>
				<br>
				<p style="color:black;font-weight:bold;"><u>Your feedback</u></p>
				<textarea class="form-control" name="feedback" cols="20" rows="3" required id="id_feedback" style="background-color: yellow;">{{ form.feedback.value }}</textarea>
				
				<br>
				<button type="submit" class="btn-info" >Save Changes</button>
			  </form>
			</div>
		  </div>
		</div>
	</div>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>

  <script>
    $(document).ready(function() {
      {% if hide_sender %}
        $('select[name="sender"]').hide();
		$('label[for="{{ form.sender.id_for_label }}"]').hide();
		document.querySelector('textarea[name="content"]').readOnly = true;
		
	  {% else %}
		$("#id_sender option[value=1]").attr('selected', 'selected');
		function makeFeedbackOptional() {
              $('textarea[name="feedback"]').prop('required', false);
			  $('textarea[name="feedback"]').val('');			  
			 
		}
		
        makeFeedbackOptional();
	   	
      {% endif %}
	  
    });
  </script>
{% endblock %}
